<?xml version="1.0" encoding="utf-8" ?>
<configuration>
   <system.runtime.remoting>
      <application>
         <service>
            <wellknown 
               mode="Singleton" 
               type="GumballMachine,DoFactory.HeadFirst.Proxy.GumballState.Server" 
               objectUri="GumballMachine.rem"
            />
         </service>
         <channels>
            <channel ref="http" port="8099"/>
         </channels>
      </application>
   </system.runtime.remoting>
</configuration>
